.about-wrapper{
    padding: 20px;
    position: relative;
}

.about-title{
    margin-top: 0;
    width: fit-content;
    overflow-x: hidden;
    margin-bottom: 10px;
    /* text-shadow: -1px -1px 3px white; */
    font-size: 3rem;
    position:relative;
    color: var(--color-primary);
    /* text-shadow: 2px 8px 6px rgba(0,0,0,0.6), 0px -5px 35px rgba(255,255,255,1);; */
}

.about-title::before{
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color: var(--color-primary);
    transform: translateX(-80%);
    transition-duration:1s;
}

.about-wrapper:hover .about-title::before{
    transform: translateX(0%);
    
}

.about-img-wrapper{
    flex: 2;
    display: grid;
    justify-items: center;
}

.about-img{
    width:600px;
}