.carousal-wrapper{
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousal-wrapper::after{
    content: "";
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.carousal-images{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden;
}