.p-s-wrapper{
    height: 100%;
    padding: 20px;
    display: grid;
    justify-items: center;
    row-gap: 20px;
    background-color: var(--color-bg-offset);
}

.product-wrapper{
    width: 100%;
    background-color: var(--color-bg);
   
    /* min-height: 800px; */
    /* background-color: blue; */
    /* color:black; */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 90%;
    flex-wrap: wrap-reverse;
    /* box-shadow: -7px -5px 10px  rgba(185, 113, 113, 0.9), 5px 5px 5px rgba(0, 0, 0, 0.5); */
    box-shadow: -5px -5px 8px  var(--color-shadow-left), 5px 5px 5px var(--color-bg-offset);

}
.p-description{
    padding: 10px 20px;
    font-size: 16px;
}
.product-text{
    padding: 10px;
    flex: 3;
    min-width: 480px;
    color: var(--color-text);
    font-size: 13px;
    /* background-color: aqua; */
}
.product-title{
    font-size: 18px;
    text-align: center;
    color: var(--color-primary);
    font-weight: bold;
    position: relative;
    width: fit-content;
    margin: auto;
    overflow: hidden;
}

.product-title::after{
    position: absolute;
    height: 2px;
    width: 100%;
    content: '';
    background-color:var(--color-primary);
    top: 100%;
    z-index: 200;
    left: 0%;
    transition-duration: 1s;
    transform: translateX(-100%);
}
.product-wrapper:hover .product-title::after{
    transform: translateX(0%) translateY(-2px);
    /* background-color:white; */
}

/* .product-wrapper:hover {
    background-color: #db261dbf;
    transition: 0.6s;
}

.product-wrapper:hover .product-title{
    color: white;
}

.product-wrapper:hover .product-text{
    color: white;
} */

.product-image-wrapper{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
     /* background-color: var(--color-bg-offset); */
}

.product-image{
    /* max-width: 400px;
    max-height: 400px; */
     /* height: 100%;
    width: 100%; */
    /*overflow: hidden;
    object-fit: cover; */
    min-width: 400px;
    padding: 10px;
    box-shadow: 0px 0px 20px var(--color-bg-offset);
    border-radius: 10px;
    background-color: white;
    transition-duration:1s;
    background-color: var(--color-bg-offset);
    /* transform: skew(5deg,5deg); 
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.product-image img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    height: 250px;
    max-width: 400px;
}

.product-wrapper:hover .product-image{
    /* transform: skew(0deg,0deg); scale(0.85); */
    background-color: var(--color-primary);
   
}