body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Montserrat', sans-serif;*/
  /* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif !important; */

font-family: 'Montserrat', sans-serif !important;
font-family: 'Oswald', sans-serif !important;
font-family: 'Roboto Condensed', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* background-image:linear-gradient(to bottom right,#000000, #141414);*/
    /* background-color: #001E3C !important ; */
    /* background-color: #001 !important ; */
    /* background-color: #001432 !important ; */
    background-color:  rgba(64,0,0,0.8784313725490196) !important ;
    /* background-color:  rgba(64,0,0,0.7) !important ; */
    background-image: url(./images/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    /* background-color: #db261d !important; */


   /* animation: gradient 10s ease infinite; */
   /* background-size: 400% 100%; */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


:root {
  --primary-color: #005fff;
  --primary-color-alpha: #005fff1a;
}

html,
body {
  margin: 0;
  padding: 0;
  height: max-content;
  
}

#root {
  height: max-content;
}

a{
  text-decoration:none
}