#root {
  height: max-content;
  max-width: 100vw;
}

:root{
  --color-bg: #222222;
  --color-bg-offset: #404040;
  --color-text: #ffffff;
  --color-text-offset: #818a91;
  --color-neutral:#ffffff;
  /* --color-border: #A814B1; */
  --color-primary: #db261d;
  --color-primary-offset: #a730be;
  --color-secondary: #D078E3;
  --color-bg-transparent:#40404040;
  --color-shadow-left:#858585;
  --fast:0.4s;
  --medium:1.5s;
  --slow:2.5s;
}

html[data-theme = "dark"] {
  --color-bg: #222222;
  --color-bg-offset: #404040;
  --color-text: #ffffff;
  --color-text-offset: #818a91;
  /* --color-border: #A814B1; */
  
  --color-primary-offset: #a730be;
  --color-secondary: #D078E3;
 }


 html[data-theme ="light"] {
  --color-bg: #fff;
  --color-bg-offset: #f2f2f2;
  --color-text: #000000;
  --color-text-offset: #0000008a;
  --color-border: #6A69DF;
  --color-bg-transparent: rgba(100, 0, 0, 0.33);
  /* --color-primary: #671B99;
  --color-primary-offset: rgba(128, 78, 194, 0.61); */
  /* --color-secondary: #7B88E9; */
  --color-secondary : #b368e6;
}


*{
  transition: color var(--fast), background-color var(--fast);
}



body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Montserrat', sans-serif;*/
  /* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif !important; */
letter-spacing: 0.06em !important;
background-color: var(--color-bg);
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Oswald', sans-serif !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* background-image:linear-gradient(to bottom right,#000000, #141414);*/
    /* background-color: #001E3C !important ; */
    /* background-color: #001 !important ; */
    /* background-color: #001432 !important ; */
    /* -background-color:  rgba(64,0,0,0.8784313725490196) !important ; */
    /* background-color:  rgba(64,0,0,0.7) !important ; */
    /* -background-image: url(./images/background3.png); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    /* background-color: #db261d !important; */


   /* animation: gradient 10s ease infinite; */
   /* background-size: 400% 100%; */
}

h1,h2,h3,h4,h5,h6{
  margin: 0px;
}
p{
  margin: 0px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* :root {
  --primary-color: #005fff;
  --primary-color-alpha: #005fff1a;
} */

html,
body {
  margin: 0;
  padding: 0;
  height: max-content;
  
}


a{
  text-decoration:none
}

